Repository Damedsol/Image_Transformer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{js,jsx,mjs}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{css,scss,json,html}": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "backend/src/**/*.ts": [
    "prettier --write",
    "eslint --fix"
  ]
}

chore(agent): configure agents.md system setting up code-quality skills in english
  .agents/skills/code-quality/SKILL.md
  .agents/skills/code-quality/references/biome-rules.md
  .agents/skills/code-quality/references/oxlint-lslint.md
  .agents/skills/code-quality/templates/biome.json.template
  .agents/skills/code-quality/templates/ls-lint.yml.template
  .gemini/skills/code-quality/SKILL.md
  .gemini/skills/code-quality/references/biome-rules.md
  .gemini/skills/code-quality/references/oxlint-lslint.md
  AGENTS.md
  backend/context.md
  context.md
Due: prettier --write

docs: overhaul documentation index and logging architecture specifications
  README.md
  backend/package.json
  context.md
  docs/DOCKER.md
  docs/INDEX.md
  docs/LOGGING.md
  docs/README.md
  package.json
Due: prettier --write

refactor: decouple development and production Docker orchestration into separate compose files
  context.md
  docker-compose.prod.yml
  docker-compose.yml
  docs/DOCKER.md
Due: prettier --write

chore(release): bump version to 1.3.0 and align documentation
  .ls-lint.yml
  README.md
  backend/package.json
  context.md
  docs/INDEX.md
  docs/LOGGING.md
  docs/README.md
  package.json
Due: prettier --write

fix: align docker monorepo build contexts, upgrade node to 24, and optimize pnpm installs
  Dockerfile
  backend/Dockerfile
  context.md
  docker-compose.prod.yml
  docker-compose.yml
Due: prettier --write

fix(security): harden nginx, block dotfiles/scans and fix monorepo docker builds
  context.md
  docker/nginx.conf
Due: prettier --write

chore: bump project version to 1.3.1 across workspace and deployment configurations
  README.md
  backend/package.json
  context.md
  docker-compose.prod.yml
  package.json
Due: prettier --write

fix: improve production network security, Nginx proxy routing, and dynamic API URL resolution
  Dockerfile
  context.md
  docker-compose.prod.yml
  docker/nginx.conf
  src/utils/api.ts
Due: prettier --write, eslint --fix

chore(release): bump version number to 1.3.2
  README.md
  backend/package.json
  context.md
  docker-compose.prod.yml
  package.json
Due: prettier --write

chore: restrict backend and frontend services to internal network exposure in production docker
  context.md
  docker-compose.prod.yml
Due: prettier --write

chore(deps): add lucide, vitest, jsdom and configure test toolchain
  .ls-lint.yml
  package.json
  pnpm-lock.yaml
  src/components/TnIcon.ts
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --fix

feat(ui): rewrite style.css with neon-code design tokens (SNA)
  src/style.css
Due: prettier --write

feat(ui): migrate four components to neon-code SNA specs
  src/components/ConversionOptions.ts
  src/components/DropZone.ts
  src/components/ImageConverter.ts
  src/components/ImagePreview.ts
  src/types/custom-elements.d.ts
Due: prettier --write, eslint --fix

feat(ui): update index.html and main.ts for neon-code layout
  index.html
  src/main.ts
Due: prettier --write, eslint --fix

test: add full TDD test suite (46 tests) for neon-code migration
  src/__tests__/components/ConversionOptions.test.ts
  src/__tests__/components/DropZone.test.ts
  src/__tests__/components/ImageConverter.test.ts
  src/__tests__/components/ImagePreview.test.ts
  src/__tests__/components/TnIcon.test.ts
  src/__tests__/helpers/dom.ts
  src/__tests__/setup.ts
  src/__tests__/style-tokens.test.ts
Due: prettier --write, eslint --fix

chore(docs): add .ia/ agentic workspace configuration
  .ia/AGENTS.md
  .ia/memory/context.md
  .ia/project_manifest.yml
Due: prettier --write

chore(assets): add Figtree and IBM Plex Mono fonts (woff2)
  assets/fonts/Figtree/woff2/Figtree-Italic-VariableFont_wght.woff2
  assets/fonts/Figtree/woff2/Figtree-VariableFont_wght.woff2
  assets/fonts/IBM_Plex_Mono/IBMPlexMono-Bold.woff2
  assets/fonts/IBM_Plex_Mono/IBMPlexMono-BoldItalic.woff2
  assets/fonts/IBM_Plex_Mono/IBMPlexMono-ExtraLight.woff2
  assets/fonts/IBM_Plex_Mono/IBMPlexMono-ExtraLightItalic.woff2
  assets/fonts/IBM_Plex_Mono/IBMPlexMono-Italic.woff2
  assets/fonts/IBM_Plex_Mono/IBMPlexMono-Light.woff2
  assets/fonts/IBM_Plex_Mono/IBMPlexMono-LightItalic.woff2
  assets/fonts/IBM_Plex_Mono/IBMPlexMono-Medium.woff2
  assets/fonts/IBM_Plex_Mono/IBMPlexMono-MediumItalic.woff2
  assets/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.woff2
  assets/fonts/IBM_Plex_Mono/IBMPlexMono-SemiBold.woff2
  assets/fonts/IBM_Plex_Mono/IBMPlexMono-SemiBoldItalic.woff2
  assets/fonts/IBM_Plex_Mono/IBMPlexMono-Thin.woff2
  assets/fonts/IBM_Plex_Mono/IBMPlexMono-ThinItalic.woff2
Due: none

fix(assets): convert fonts to proper WOFF2 format
  assets/fonts/Figtree/woff2/Figtree-Italic-VariableFont_wght.woff2
  assets/fonts/Figtree/woff2/Figtree-VariableFont_wght.woff2
  assets/fonts/IBM_Plex_Mono/IBMPlexMono-Bold.woff2
  assets/fonts/IBM_Plex_Mono/IBMPlexMono-BoldItalic.woff2
  assets/fonts/IBM_Plex_Mono/IBMPlexMono-ExtraLight.woff2
  assets/fonts/IBM_Plex_Mono/IBMPlexMono-ExtraLightItalic.woff2
  assets/fonts/IBM_Plex_Mono/IBMPlexMono-Italic.woff2
  assets/fonts/IBM_Plex_Mono/IBMPlexMono-Light.woff2
  assets/fonts/IBM_Plex_Mono/IBMPlexMono-LightItalic.woff2
  assets/fonts/IBM_Plex_Mono/IBMPlexMono-Medium.woff2
  assets/fonts/IBM_Plex_Mono/IBMPlexMono-MediumItalic.woff2
  assets/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.woff2
  assets/fonts/IBM_Plex_Mono/IBMPlexMono-SemiBold.woff2
  assets/fonts/IBM_Plex_Mono/IBMPlexMono-SemiBoldItalic.woff2
  assets/fonts/IBM_Plex_Mono/IBMPlexMono-Thin.woff2
  assets/fonts/IBM_Plex_Mono/IBMPlexMono-ThinItalic.woff2
  index.html
  src/style.css
Due: prettier --write

docs(agents): rewrite root AGENTS.md with verified repo guidance
  AGENTS.md
Due: prettier --write

chore(ia): localize .ia harness to English, drop global skill names
  .ia/AGENTS.md
  .ia/memory/context.md
  .ia/project_manifest.yml
Due: prettier --write

chore(deps): add concurrently to pnpm workspace catalog
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(scripts): centralize dev/build/qa commands in root package.json
  package.json
Due: prettier --write

docs(agents): document centralized dev/build/qa command table
  .ia/project_manifest.yml
  AGENTS.md
Due: prettier --write

chore(ia): archive centralize-scripts plan and session memory
  .ia/docs/plan_2026-08-10_centralize-scripts.md
  .ia/memory/context.md
Due: prettier --write

fix(backend): return 413 for oversized images and preserve AppError codes
  backend/src/utils/imageProcessor.ts
Due: prettier --write, eslint --fix

feat(backend): guarantee temp cleanup with startup and periodic sweeps
  backend/src/controllers/imageController.ts
  backend/src/index.ts
  backend/src/utils/loadEnv.ts
  backend/src/utils/tempCleanup.ts
Due: prettier --write, eslint --fix

fix(backend): accept gif/avif uploads and translate user-facing messages
  backend/src/middlewares/securityMiddleware.ts
  backend/src/middlewares/uploadMiddleware.ts
  backend/src/routes/imageRoutes.ts
  backend/src/utils/apiError.ts
Due: prettier --write, eslint --fix

fix(frontend): surface real backend error message in toasts
  src/__tests__/utils/api.test.ts
  src/utils/api.ts
Due: prettier --write, eslint --fix

feat(frontend): real labels, visible toast, app footer and slider track
  index.html
  src/__tests__/components/ConversionOptions.test.ts
  src/__tests__/components/DropZone.test.ts
  src/__tests__/components/ImageConverter.test.ts
  src/components/ConversionOptions.ts
  src/components/DropZone.ts
  src/components/ImageConverter.ts
  src/components/ImagePreview.ts
  src/style.css
Due: prettier --write, eslint --fix

refactor(frontend): remove redundant a11y panel and align formats with backend
  src/main.ts
  src/types/custom-elements.d.ts
  src/types/image.ts
  src/utils/a11y.ts
  src/utils/fileUtils.ts
  src/utils/serviceWorkerRegistration.ts
Due: prettier --write, eslint --fix

test(backend): add temp cleanup unit suite
  .ls-lint.yml
  backend/src/__tests__/tempCleanup.test.ts
  vite.config.ts
Due: prettier --write, eslint --fix

docs: update author LinkedIn and document temp cleanup configuration
  README.md
  docs/INDEX.md
  docs/README.md
Due: prettier --write

chore(ia): archive ux/a11y/dotenv plan and session memory
  .ia/docs/plan_2026-08-12_ux-i18n-a11y-responsive-dotenv.md
  .ia/memory/context.md
Due: prettier --write

fix(license): align CC BY 4.0 attribution across footer and docs
  .ia/checkpoint.yml
  .ia/docs/adr/0001-license-attribution-policy.md
  .ia/docs/specs/license-attribution.md
  .ia/memory/context.md
  .ia/project_manifest.yml
  README.md
  assets/fonts/Figtree/OFL.txt
  assets/fonts/IBM_Plex_Mono/OFL.txt
  backend/package.json
  backend/src/__tests__/license-consistency.test.ts
  docs/THIRD_PARTY_NOTICES.md
  index.html
  package.json
  src/style.css
Due: prettier --write, eslint --fix

chore(docs): remove transient plan files
  .ia/docs/plan_2026-08-10_centralize-scripts.md
  .ia/docs/plan_2026-08-12_ux-i18n-a11y-responsive-dotenv.md
Due: prettier --write

feat(icons): migrate from lucide to iconoir vendored SVGs
  assets/icons/check-circle.svg
  assets/icons/download.svg
  assets/icons/github.svg
  assets/icons/linkedin.svg
  assets/icons/media-image.svg
  assets/icons/settings.svg
  assets/icons/trash.svg
  assets/icons/upload.svg
  assets/icons/warning-circle.svg
  index.html
  package.json
  pnpm-lock.yaml
  src/__tests__/components/TnIcon.test.ts
  src/components/TnIcon.ts
  src/style.css
Due: prettier --write, eslint --fix

docs(icons): align docs to iconoir and move notices to root
  .ia/checkpoint.yml
  .ia/docs/adr/0001-license-attribution-policy.md
  .ia/docs/adr/0002-iconoir-icon-migration.md
  .ia/docs/specs/license-attribution.md
  .ia/memory/context.md
  .ia/project_manifest.yml
  AGENTS.md
  README.md
  THIRD_PARTY_NOTICES.md
Due: prettier --write

docs(icons): remove stale docs/THIRD_PARTY_NOTICES.md path
  docs/THIRD_PARTY_NOTICES.md
Due: prettier --write

chore(harness): consolidate agent harness into .agents/
  .agents/checkpoint.yml
  .agents/context/history.md
  .agents/context/project.md
  .agents/docs/adr/0001-license-attribution-policy.md
  .agents/docs/adr/0002-iconoir-icon-migration.md
  .agents/docs/specs/license-attribution.md
  .agents/project_manifest.yaml
  .gemini/skills/code-quality/SKILL.md
  .gemini/skills/code-quality/references/biome-rules.md
  .gemini/skills/code-quality/references/oxlint-lslint.md
  .ia/AGENTS.md
  .ia/memory/context.md
  AGENTS.md
  README.md
  backend/context.md
  backend/src/__tests__/license-consistency.test.ts
  context.md
  docs/README.md
Due: prettier --write, eslint --fix

chore(lint): replace @ls-lint/ls-lint with local lint-filenames script
  .agents/skills/code-quality/SKILL.md
  .agents/skills/code-quality/references/oxlint-lslint.md
  .agents/skills/code-quality/templates/ls-lint.json.template
  .agents/skills/code-quality/templates/ls-lint.yml.template
  .ls-lint.json
  .ls-lint.yml
  AGENTS.md
  README.md
  backend/src/__tests__/lint-filenames.test.ts
  docs/INDEX.md
  docs/README.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/lint-filenames.mjs
Due: prettier --write, eslint --fix
