Repository Damedsol/Image_Transformer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{js,jsx,mjs}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{css,scss,json,html}": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "backend/src/**/*.ts": [
    "prettier --write",
    "eslint --fix"
  ]
}

docs(harness): update checkpoint and memory for completed cycle
  .agents/checkpoint.yml
  .agents/context/history.md
Due: prettier --write

fix(nginx): harden against scanner probes and favicon 404
  README.md
  docker/nginx.conf
  docs/DOCKER.md
Due: prettier --write

fix(security): harden CSP and bound IP quota store
  .agents/checkpoint.yml
  .agents/context/history.md
  .agents/docs/adr/0003-security-hardening-continuation.md
  .agents/docs/plan_2026-08-28_security-session-continuation.md
  .agents/docs/specs/security-hardening.md
  backend/src/__tests__/quota.test.ts
  backend/src/__tests__/securityMiddleware.test.ts
  backend/src/controllers/imageController.ts
  backend/src/middlewares/securityMiddleware.ts
  backend/src/utils/quota.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix

fix(security): remediate vulnerable dependencies and harden config
  .agents/docs/plan_2026-08-27_dependency-security-remediation.md
  .agents/skills/code-quality/SKILL.md
  backend/package.json
  backend/src/index.ts
  backend/src/middlewares/uploadMiddleware.ts
  backend/src/utils/imageProcessor.ts
  vite.config.ts
Due: prettier --write, eslint --fix

chore: bump version 2.0.0
  .agents/context/history.md
  .agents/project_manifest.yaml
  README.md
  backend/package.json
  docker-compose.prod.yml
  package.json
Due: prettier --write

fix(docker): pin pnpm 11.15.0 and drop unsupported --prod=false flag
  Dockerfile
  backend/Dockerfile
Due: none

feat(frontend): new IT monogram favicon in neon-code style
  public/favicon-16x16.png
  public/favicon-192x192.png
  public/favicon-32x32.png
  public/favicon-512x512.png
  public/favicon.png
  public/favicon.svg
Due: none

docs(harness): close release 2.0.0 cycle in memory and checkpoint
  .agents/checkpoint.yml
  .agents/context/history.md
Due: prettier --write

fix(security): close DOM-XSS sinks and harden preview rendering
  src/__tests__/components/ImageConverter.test.ts
  src/__tests__/components/ImagePreview.test.ts
  src/__tests__/utils/api.test.ts
  src/components/ImageConverter.ts
  src/components/ImagePreview.ts
  src/utils/api.ts
  src/utils/html.ts
Due: prettier --write, eslint --fix

fix(security): harden backend quota, errors, uploads and pipelines
  backend/.env.example
  backend/src/__tests__/apiError.test.ts
  backend/src/__tests__/conversionOptions.test.ts
  backend/src/__tests__/errorMiddleware.test.ts
  backend/src/__tests__/imageProcessor.test.ts
  backend/src/__tests__/imageRoutes.test.ts
  backend/src/__tests__/imageValidation.test.ts
  backend/src/__tests__/quota.test.ts
  backend/src/__tests__/securityMiddleware.test.ts
  backend/src/controllers/imageController.ts
  backend/src/index.ts
  backend/src/middlewares/errorMiddleware.ts
  backend/src/middlewares/securityMiddleware.ts
  backend/src/middlewares/uploadMiddleware.ts
  backend/src/routes/imageRoutes.ts
  backend/src/utils/apiError.ts
  backend/src/utils/imageProcessor.ts
  backend/src/utils/imageValidation.ts
  backend/src/utils/quota.ts
Due: prettier --write, eslint --fix

chore(deps): patch CVE-tagged dependencies to fixed versions
  backend/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore(security): harden containers, ignore secrets, document licenses
  .gitignore
  .ls-lint.json
  Dockerfile
  THIRD_PARTY_NOTICES.md
  backend/Dockerfile
  backend/src/__tests__/license-consistency.test.ts
  docker-compose.prod.yml
  docker/nginx.conf
Due: prettier --write, eslint --fix

docs(agents): record security-remediation cycle
  .agents/checkpoint.yml
  .agents/context/history.md
  .agents/docs/adr/0004-container-hardening.md
  .agents/docs/review_2026-09-10_security-remediation.md
  .agents/docs/specs/security-hardening.md
  .agents/project_manifest.yaml
Due: prettier --write

docs(deploy): document unprivileged ports and NPM retarget
  README.md
  docs/DOCKER.md
Due: prettier --write

docs(agents): log deploy-docs follow-up in history
  .agents/context/history.md
Due: prettier --write

chore(release): bump version to 2.0.1
  .agents/project_manifest.yaml
  README.md
  backend/package.json
  docker-compose.prod.yml
  package.json
Due: prettier --write

chore(deps): bump backend runtime pins and refresh override floors
  backend/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore(dependabot): enable weekly version updates and guard the config
  .github/dependabot.yml
  backend/src/__tests__/dependencyConfig.test.ts
Due: prettier --write, eslint --fix

docs(agents): archive dependency-refresh cycle and add ADR-0005
  .agents/.state/build_state.json
  .agents/checkpoint.yml
  .agents/context/history.md
  .agents/docs/adr/0005-dependency-advisory-policy.md
  .agents/docs/analysis_2026-09-17_security-advisory-triage.md
  .agents/docs/evidence/advisory_triage_2026-09-17.md
  .agents/docs/evidence/audit_full_2026-09-17.json
  .agents/docs/evidence/audit_prod_2026-09-17.json
  .agents/docs/plan_2026-09-17_dependency-refresh-and-advisory-closure.md
  .agents/docs/review_2026-09-17_dependency-refresh-dependabot-repass.md
  .agents/docs/review_2026-09-17_dependency-refresh-dependabot.md
  .agents/docs/specs/security-hardening.md
  .agents/project_manifest.yaml
  .agents/specs/README.md
  .agents/specs/change_spec.yaml
Due: prettier --write

fix(dev-env): stop dev port drift from breaking CORS and HMR
  backend/src/__tests__/corsOrigins.test.ts
  backend/src/index.ts
  backend/src/utils/corsOrigins.ts
  src/__tests__/devServerConfig.test.ts
  vite.config.ts
Due: prettier --write, eslint --fix

docs(agents): archive the dev port-fallback cycle (ADR-0006, state)
  .agents/.state/build_state.json
  .agents/checkpoint.yml
  .agents/context/history.md
  .agents/docs/adr/0006-dev-origin-allowlist-and-port-binding.md
  .agents/docs/review_2026-09-17_dev-port-fallback.md
  .agents/docs/specs/dev-environment.md
  .agents/project_manifest.yaml
Due: prettier --write

chore: bump version 2.1.0
  .agents/project_manifest.yaml
  README.md
  backend/package.json
  backend/src/__tests__/versionConsistency.test.ts
  docker-compose.prod.yml
  package.json
Due: prettier --write, eslint --fix

docs(agents): archive the 2.1.0 release cycle
  .agents/.state/build_state.json
  .agents/checkpoint.yml
  .agents/context/history.md
  .agents/docs/review_2026-09-17_release-2.1.0.md
  .agents/docs/specs/release-versioning.md
Due: prettier --write

docs(agents): correct release-versioning docs and harness counts
  .agents/.state/build_state.json
  .agents/checkpoint.yml
  .agents/context/history.md
  .agents/docs/review_2026-09-17_release-docs-correction-repass.md
  .agents/docs/review_2026-09-17_release-docs-correction.md
  .agents/docs/specs/release-versioning.md
Due: prettier --write

chore: bump version 2.1.1
  .agents/project_manifest.yaml
  README.md
  backend/package.json
  docker-compose.prod.yml
  package.json
Due: prettier --write

docs(agents): archive the 2.1.1 release cycle
  .agents/.state/build_state.json
  .agents/checkpoint.yml
  .agents/context/history.md
  .agents/docs/review_2026-09-17_release-2.1.1.md
Due: prettier --write

chore(deps): refresh dev tooling within-major
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

docs(agents): record dev-tooling refresh 2026-09-21
  .agents/context/history.md
Due: prettier --write

chore: bump version 2.2.0
  .agents/project_manifest.yaml
  README.md
  backend/package.json
  docker-compose.prod.yml
  package.json
Due: prettier --write
