Repository Damedsol/Image_Transformer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs: update README with current dependency versions and project features
  README.md
Due: prettier --write

chore(deps): update package versions and add pnpm overrides
  backend/package.json
  backend/pnpm-lock.yaml
  backend/pnpm-workspace.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs: update README to reflect current project features and structure
  README.md
Due: prettier --write

chore: bump version to 1.1.1 for frontend and backend
  backend/package.json
  package.json
Due: prettier --write

docs: update README links to point to real GitHub repository
  README.md
Due: prettier --write

chore: bump version to 1.1.2
  README.md
  backend/package.json
  package.json
Due: prettier --write

feat: configure project for Netlify and Render deployment
  backend/src/index.ts
  src/utils/api.ts
Due: prettier --write, eslint --fix

chore: bump version to 1.1.3 for frontend and backend
  backend/package.json
  package.json
Due: prettier --write

feat(security): implement secure CORS configuration with strict origin validation
  backend/.env.example
  backend/src/index.ts
  backend/src/middlewares/securityMiddleware.ts
Due: prettier --write, eslint --fix

chore: bump version to 1.1.4 for frontend and backend
  backend/package.json
  package.json
Due: prettier --write

chore: update CORS configuration in docker-compose and .env.example
  backend/.env.example
  docker-compose.yml
Due: none

fix(security): resolve dependency vulnerabilities with pnpm overrides
  backend/package.json
  backend/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: bump version to 1.1.5 for frontend and backend
  README.md
  backend/package.json
  package.json
Due: prettier --write

chore(deps): bump express from 5.1.0 to 5.2.0 in /backend
  backend/package.json
  backend/pnpm-lock.yaml
Due: prettier --write

chore(release): bump version to 1.1.6 and update Express to 5.2.0 in README
  README.md
  backend/package.json
  package.json
Due: prettier --write

chore: add .gitattributes for line endings and binary file handling
  .gitattributes
  .husky/pre-commit
  .lintstagedrc
  .prettierrc
  backend/.env.production
  backend/.prettierrc
  backend/package.json
  backend/src/index.ts
  index.html
Due: prettier --write, eslint --fix

feat: add new favicon images and remove obsolete vite.svg
  public/favicon-16x16.png
  public/favicon-192x192.png
  public/favicon-32x32.png
  public/favicon-512x512.png
  public/favicon.png
  public/favicon.svg
  public/vite.svg
Due: none

chore(release): bump version to 1.1.7 for frontend and backend
  README.md
  backend/package.json
  package.json
Due: prettier --write

chore(deps): update root development dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update backend dependencies
  backend/package.json
  backend/pnpm-lock.yaml
Due: prettier --write

chore(release): bump version to 1.1.8 for frontend and backend
  backend/package.json
  package.json
Due: prettier --write

chore: update front dependencies
  pnpm-lock.yaml
Due: none

chore: update back dependencies
  backend/pnpm-lock.yaml
Due: none

chore: bump version 1.1.9
  README.md
  backend/package.json
  package.json
Due: prettier --write

feat(backend): remove authentication and optimize production environment variables
  backend/.env.example
  backend/.env.production
  backend/package.json
  backend/src/index.ts
  backend/src/middlewares/authMiddleware.ts
  backend/src/middlewares/errorMiddleware.ts
  backend/src/utils/apiError.ts
  backend/src/utils/types.ts
Due: prettier --write, eslint --fix

chore: update .env.example
  backend/.env.example
Due: none

chore(frontend): update development dependencies and pnpm version
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update backend dependencies and devDependencies to latest versions
  backend/package.json
  backend/pnpm-lock.yaml
Due: prettier --write

refactor: scope processedImages variable to the local processing block in imageController
  backend/src/controllers/imageController.ts
Due: prettier --write, eslint --fix

chore: bump project version to 1.2.0
  README.md
  backend/package.json
  package.json
Due: prettier --write

chore: update lock file
  pnpm-lock.yaml
Due: none

chore: set rootDir to src in tsconfig.json
  backend/tsconfig.json
Due: prettier --write

chore: bump project version to 1.2.1
  README.md
  backend/package.json
  package.json
Due: prettier --write

chore: upgrade flatted, picomatch, path-to-regexp, and lodash to package dependencies
  backend/package.json
Due: prettier --write

chore: update pnpm lockfile dependencies
  backend/pnpm-lock.yaml
Due: none

chore: bump project version to 1.2.2
  README.md
  backend/package.json
  package.json
Due: prettier --write

build: update brace-expansion and minimatch dependency overrides in package.json
  backend/package.json
  backend/pnpm-lock.yaml
Due: prettier --write

chore: bump project version to 1.2.3
  README.md
  backend/package.json
  package.json
Due: prettier --write

chore: migrate to Biome and Oxlint, enable pnpm workspace, and add project metadata
  .lintstagedrc
  .ls-lint.yml
  .oxlintrc.json
  .prettierrc
  README.md
  backend/.oxlintrc.json
  backend/.prettierignore
  backend/.prettierrc
  backend/eslint.config.mjs
  backend/package.json
  backend/pnpm-lock.yaml
  biome.json
  commitlint.config.js
  context.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix

refactor: reformat codebase with consistent indentation and quote style across all files
  backend/src/controllers/imageController.ts
  backend/src/index.ts
  backend/src/middlewares/errorMiddleware.ts
  backend/src/middlewares/securityMiddleware.ts
  backend/src/middlewares/uploadMiddleware.ts
  backend/src/routes/imageRoutes.ts
  backend/src/utils/apiError.ts
  backend/src/utils/imageProcessor.ts
  backend/src/utils/logger.ts
  backend/src/utils/types.ts
  backend/tsconfig.json
  src/components/ConversionOptions.ts
  src/components/DropZone.ts
  src/components/ImageConverter.ts
  src/components/ImagePreview.ts
  src/main.ts
  src/style.css
  src/types/components.ts
  src/types/custom-elements.d.ts
  src/types/image.ts
  src/utils/a11y.ts
  src/utils/api.ts
  src/utils/fileUtils.ts
  src/utils/logger.ts
  src/utils/serviceWorkerRegistration.ts
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs})) or (any of: *.{css,scss,json,html})) or (any of: *.md)) or (any of: backend/src/**/*.ts)
  eslint --fix: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs})) or (any of: backend/src/**/*.ts)
