Repository Damedsol/Image_Transformer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

style: enhance contrast and accessibility features
  src/components/ConversionOptions.ts
  src/style.css
Due: prettier --write, eslint --fix

feat(docker): improve development setup with HMR
  Dockerfile
  backend/Dockerfile
  docker-compose.yml
  vite.config.ts
Due: prettier --write, eslint --fix

chore: update TypeScript config and improve error handling
  backend/src/middlewares/uploadMiddleware.ts
  backend/src/utils/auditLogger.ts
  backend/src/utils/imageProcessor.ts
  backend/tsconfig.json
  src/components/ImageConverter.ts
  src/utils/api.ts
Due: prettier --write, eslint --fix

chore: simplify linting commands and update ESLint config
  .lintstagedrc
  backend/eslint.config.mjs
  eslint.config.js
Due: prettier --write, eslint --fix

chore: update package.json and pnpm-lock.yaml
  backend/package.json
  backend/pnpm-lock.yaml
  package.json
Due: prettier --write

style: clean up HTML structure and improve accessibility
  index.html
Due: prettier --write

fix: update imports and improve type safety
  backend/src/controllers/imageController.ts
  backend/src/index.ts
  backend/src/middlewares/authMiddleware.ts
  backend/src/middlewares/errorMiddleware.ts
  backend/src/middlewares/securityMiddleware.ts
  backend/src/middlewares/uploadMiddleware.ts
  backend/src/routes/imageRoutes.ts
  backend/src/utils/apiError.ts
  backend/src/utils/imageProcessor.ts
Due: prettier --write, eslint --fix

fix: calculate __dirname for ESM support
  backend/src/index.ts
Due: prettier --write, eslint --fix

refactor: enhance image conversion error handling
  backend/src/controllers/imageController.ts
Due: prettier --write, eslint --fix

chore: add pino and pino-pretty for logging
  backend/package.json
  backend/pnpm-lock.yaml
Due: prettier --write

refactor: replace auditLogger with centralized logger
  backend/src/controllers/imageController.ts
  backend/src/index.ts
  backend/src/middlewares/errorMiddleware.ts
  backend/src/utils/auditLogger.ts
  backend/src/utils/logger.ts
Due: prettier --write, eslint --fix

refactor: improve temporary file cleanup with logging
  backend/src/utils/imageProcessor.ts
Due: prettier --write, eslint --fix

refactor: add detailed logging for image processing
  backend/src/controllers/imageController.ts
  backend/src/middlewares/uploadMiddleware.ts
  backend/src/routes/imageRoutes.ts
  backend/src/utils/imageProcessor.ts
  backend/src/utils/logger.ts
Due: prettier --write, eslint --fix

refactor: clean up tsconfig and logger imports
  backend/src/utils/logger.ts
Due: prettier --write, eslint --fix

chore: update dependencies and improve versions
  backend/package.json
  backend/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update package versions to fixed values
  backend/package.json
  package.json
Due: prettier --write

refactor: simplify prototype pollution middleware
  backend/src/middlewares/securityMiddleware.ts
Due: prettier --write, eslint --fix

chore: update development dependencies to latest versions
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update husky hooks with english messages and better feedback
  .husky/commit-msg
  .husky/pre-commit
Due: none

feat: add TypeScript type checking to pre-commit hook
  .husky/pre-commit
  src/components/ImageConverter.ts
  src/components/ImagePreview.ts
Due: prettier --write, eslint --fix

feat: implement Docker profiles system
  DOCKER.md
  docker-compose.yml
Due: prettier --write

docs: update documentation and remove Docker npm scripts
  README.md
  package.json
Due: prettier --write

fix: resolve TypeScript compilation errors
  backend/src/controllers/imageController.ts
  backend/src/middlewares/errorMiddleware.ts
  backend/tsconfig.json
Due: prettier --write, eslint --fix

fix: update CORS configuration for production
  backend/src/index.ts
Due: prettier --write, eslint --fix

chore: update dependencies and configuration files
  .lintstagedrc
  .prettierrc
  backend/.prettierrc
  backend/pnpm-lock.yaml
  docker-compose.prod.yml
  pnpm-lock.yaml
Due: none

chore: update dependencies and add pnpm workspace configuration
  backend/package.json
  backend/pnpm-lock.yaml
  backend/pnpm-workspace.yaml
Due: prettier --write

feat(backend): implement conditional logging system
  backend/src/utils/logger.ts
Due: prettier --write, eslint --fix

feat(frontend): implement conditional logging system
  src/components/ImageConverter.ts
  src/main.ts
  src/utils/api.ts
  src/utils/logger.ts
Due: prettier --write, eslint --fix

feat(docker): optimize logging configuration for production
  backend/.env.example
  docker-compose.yml
Due: none

fix(backend): resolve IPv6 compatibility in rate limiting
  backend/src/middlewares/securityMiddleware.ts
  backend/src/routes/imageRoutes.ts
Due: prettier --write, eslint --fix

docs: organize and update project documentation
  README.md
  docs/DOCKER.md
  docs/INDEX.md
  docs/LOGGING.md
  docs/README.md
Due: prettier --write

feat(config): add production environment configuration
  backend/.env.production
Due: none

chore: remove duplicate documentation files
  DOCKER.md
Due: prettier --write

feat: change language and fix linting errors
  backend/package.json
  backend/src/controllers/imageController.ts
  backend/src/middlewares/errorMiddleware.ts
  backend/src/middlewares/securityMiddleware.ts
  backend/src/routes/imageRoutes.ts
  backend/src/utils/imageProcessor.ts
  backend/src/utils/logger.ts
  docs/DOCKER.md
  docs/INDEX.md
  docs/LOGGING.md
  docs/README.md
  index.html
  src/components/ConversionOptions.ts
  src/components/DropZone.ts
  src/components/ImageConverter.ts
  src/components/ImagePreview.ts
  src/main.ts
  src/utils/a11y.ts
  src/utils/logger.ts
Due: prettier --write, eslint --fix

docs: translate documentation to English
  docs/DOCKER.md
  docs/INDEX.md
  docs/LOGGING.md
  docs/README.md
Due: prettier --write

refactor(backend): improve image processor and remove logs
  backend/src/utils/imageProcessor.ts
Due: prettier --write, eslint --fix

refactor(components): translate components to English and improve structure
  src/components/ConversionOptions.ts
  src/components/DropZone.ts
  src/components/ImagePreview.ts
Due: prettier --write, eslint --fix

refactor(utils): translate utilities to English and improve logging
  src/utils/a11y.ts
  src/utils/logger.ts
Due: prettier --write, eslint --fix

style: improve CSS with custom properties and fix preview issues
  src/style.css
Due: prettier --write

chore: update package versions to 1.1.0 for frontend and backend
  backend/package.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs})) or (any of: *.{css,scss,json,html})) or (any of: *.md)
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs})
